<ion-header>
  <ion-toolbar>
    <ion-title>Calculators</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item routerLink="/tabs/tab1/resistor-color-code">
      <ion-icon name="color-palette-outline" slot="start"></ion-icon>
      Resistor Color Code
    </ion-item>
    <ion-item routerLink="/tabs/tab1/ohms-law">
      <ion-icon name="speedometer-outline" slot="start"></ion-icon>
      Ohm's Law
    </ion-item>
    <ion-item routerLink="/tabs/tab1/inductor-color-code">
      <ion-icon name="radio-outline" slot="start"></ion-icon>
      Inductor Color Code
    </ion-item>
  </ion-list>
</ion-content>
