<ion-header>
  <ion-toolbar>
    <ion-title>Calculators</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="custom-list">
    <ion-item>
      <ion-nav-link router-direction="forward" [component]="ResistorColorCodeComponent">
        <ion-icon name="color-palette-outline" slot="start"></ion-icon>
        Resistor Color Code
      </ion-nav-link>
    </ion-item>
    <ion-item>
      <ion-nav-link router-direction="forward" [component]="OhmsLawComponent">
        <ion-icon name="speedometer-outline" slot="start"></ion-icon>
        Ohm's Law
      </ion-nav-link>
    </ion-item>
    <ion-item>
      <ion-nav-link router-direction="forward" [component]="InductorColorCodeComponent">
        <ion-icon name="radio-outline" slot="start"></ion-icon>
        Inductor Color Code
      </ion-nav-link>
    </ion-item>
  </ion-list>

  <!-- Nav container (fără root implicit) -->
  <ion-nav></ion-nav>
</ion-content>
